body{
    margin: 0;
    padding: 0;
    font-family: Open Sans;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.cabecera {
    color: white;
    font-family: Arial;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.username .icono-ojo {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
.formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    background: white;
    border-radius: 10px;
}

.formulario img {
    position: relative;
    left: 31%;
    margin: 15px;
    padding: 0 0 5px 0;
}

.formulario form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .username {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.username input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.username label {
    position: absolute;
    top: 15%;
    left: 5px;
    color: black;
    transform: translateY(-60%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.username span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #6C3483;
    transition: .5s;
}

.username input:focus ~ label,
.username input:focus ~ label {
    top: -5px;
    color: #6C3483;
}

.username input:focus ~ span::before,
.username input:focus ~ span::before {
    width: 100%;
}

.recordar {
    margin: -5px 0 20px 5px;
    color: blue;
    cursor: pointer;
}

.recordar:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 100%;
    height: 45px;
    border: 3px solid;
    background: #1c3a4d;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
    border-color: transparent;
    margin: auto;
}

input[type="submit"]:hover {
    border-color: #000CFF;
    transition: .5s;
    margin: auto;
}

.registrarse {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: black;
}

.registrarse a {
    color: blue;
    text-decoration: none;
}

.registrarse a:hover {
    text-decoration: underline;
}

.pie {
    font-family: Arial;
    position: absolute;
    left: 11%;
    bottom: 10%;
}
@media all and (max-width: 800px) {
    .cabecera {
        left: 50%;
        transform: translateX(-50%);
    }
    
    .formulario {
        width: 60%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
    .formulario img {
        left: 50%;
        transform: translateX(-50%);
    }
    
    .formulario form {
        padding: 0 20px;
    }
    
    form .username label {
        font-size: 14px;
    }
    
    .pie {
        left: 5%;
        bottom: 3%;
    }
}

@media only screen and (max-width: 600px) {
    .cabecera {
        left: 50%;
        transform: translateX(-50%);
    }
    .formulario {
        width: 70%;
    }

    .formulario img {
        left: 50%;
        transform: translateX(-50%);
    }
    .pie {
        left: 5%;
        bottom: 1%;
        font-family: Arial;
        position: absolute;
        size: 12px;
    }
}

@media only screen and (max-width: 400px) {
    .cabecera {
        left: 50%;
        transform: translateX(-50%);
    }

    .formulario {
        width: 80%;
    }

    .formulario img {
        left: 50%;
        transform: translateX(-50%);
    }

    form .username label {
        font-size: 14px;
    }
    .la{
        width: 300px;
        height: 28px;
        margin: 3px;
    }
    .registrarse {
        font-size: 14px;
    }

    .pie {
        left: 5%;
        bottom: 1%;
        font-family: Arial;
        position: absolute;
        size: 12px;
    }
}
.lable{
    color: crimson;
    font-size: 16px;
    font-family: Arial;

}
.la{
    width: 300px;
    height: 28px;
    margin: 3px;
}